.container {
  margin: 0 auto;
  padding-top: 100px;
  width: 1024px;
  text-align: center;
}

.racer_table {
  margin: 0 auto;
}

.racer_table td {
  background-color: #eee;
  border: 1px solid #ccc;
  height: 30px;
  width: 30px;
}

.racer_table td.active {
  box-shadow: 0px 0px 2px yellow;
}

#player1_strip td.active {
  background: url('http://static-www.ec.popcap.com/www.popcap.com/sites/all/themes/popcap_2012/images/baby_icons/baby_icon_monopoly.gif');
}

#player2_strip td.active {
  background: url('http://profile.ak.fbcdn.net/hprofile-ak-ash4/s32x32/188101_105563679583604_1313911932_q.jpg');
}

#winner {
  width: 200px;
  height: 230px;
  display: block;
  margin: 0 auto;
  background: no-repeat 0 30px;
}

#winner.player1 {
  background-image: url('http://i.imgur.com/PJL3PP4.jpg');
}

#winner.player2 {
  background-image: url('http://i.imgur.com/OpNuzj6.jpg');
}

h1 {
  font-family: sans-serif;
}

form {
  display: block;
  width: 400px;
  border: 2px solid #000;
  border-radius: 15px;
  background-color: #ccc;
  margin: 0px auto;
}

#counter {
  margin: auto;
  font-family: Georgia;
  font-size: 4em;
}

.restart {
  margin: 0 auto;
  width: 200px;
}
