<h1>Welcome to Need For Keys!</h1>

<form action="/play" method="POST" id="index">
  <p><label for="Player 1">Player 1 Initials:</p>
  <input type="text" placeholder="'ABC'" name="player1" size="15" required class="input"></p>
  <p><label for="Player 2">Player 2 Initials:</p>
  <p><input type="text" placeholder="'XYZ'" name="player2" size="15" required class="input"></p>
  <p><input type="submit" value="Let's Go!" class="button"></p>
</form>

<div class="landing-right">
  <p class="instructions">Welcome to the button-mashing extravaganza created by Tyler Kuhn and Kevin Ko.</p>
  <p class="instructions">Please enter your player initials to the left.</p>
  <p class="instructions">Maximum 3 characters.</p>
  <p class="instructions">PLAYER 1: Mash <strong>'Q'</strong> as fast as possible!</p>
  <p class="instructions">PLAYER 2: Mash <strong>'P'</strong> as fast as possible!</p>
  <p class="instructions">Have fun!</p>
</div>
