<h1>Welcome to JS Racer!</h1>
<p>Please enter your names</p>
<form action="/play" method="POST">
  <p><input type="text" placeholder="Player 1 Initials" name="player1" required></p>
  <p><input type="text" placeholder="Player 2 Initials" name="player2" required></p>
  <p><input type="submit" value="Let's Go!" class="button"></p>
</form>
