<!DOCTYPE html>
<html>
<head>
  <title>JS Racer</title>

</head>
<body>
  <div class="container">
  <div id="counter">
  </div>
  <table class="racer_table">
    <tr id="player1_strip" data-player="<%= @player1.id %>">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>      
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>      
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>      
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="player2_strip" data-player="<%= @player2.id %>">
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>      
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>      
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>      
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>

  <div id="winner">
  </div>
    <button class="restart">Restart</button>
</div>
</body>
</html>
